.toolbar {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255,255,255,0.05);
    padding: 5px 7px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    pointer-events: auto;
    align-items: center;
    backdrop-filter: blur(12px);
}

.barItem{
    width: 24px;
    height: 24px;
    padding: 2px;
    filter: invert() brightness(60%);
    transition: all 0.15s ease-out;
    cursor: pointer;
}

.barItem:hover {
    scale: 1.06;
    filter: invert() drop-shadow(0px 0px 3px rgb(112, 200, 200));
}

.barItem.selected {
    filter: invert() drop-shadow(0px 0px 3px rgb(52, 200, 200));
    cursor: grab;
}

.separator{
    height: 1px;
    width: calc(100% - 8px);
    background: rgba(255,255,255,0.2);
    margin: 0 5px;
}

.square {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.square:hover{
    box-shadow: 0px 0px 2px 1px rgb(122, 200, 200);
    scale: 1.06;
    border: 1px solid white;
}

.toolBelt {
    display: flex;
    position: absolute;
    gap: 10px;
    padding: 10px 12px 6px 12px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: center;
}

.toolBeltButton{
    position: relative;
}

.toolBeltButton::after{
    content: attr(data-tooltip);
    position: absolute;
    top: -14px;
    left: 2px;
    width: 100px;
    transform: translateY(-100%);
    color: #DEDEDE;
    opacity: 0;
    transition: all .3s;
    font-size: 12px;
}

.toolBeltButton:hover::after{
    opacity: 1;
}

.toolBeltButton img{
    width: 18px;
    height: 18px;
    filter: invert(60%);
    pointer-events: auto;
    cursor: pointer;
}

.toolBeltButton img:hover{
    scale: 1.1;
    filter: invert() drop-shadow(0 0 5px rgb(52, 200, 200));
}


.propertiesPanel {
    background: rgba(255,255,255,0.05); 
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    pointer-events: auto; 
    padding: 8px;
    gap: 8px;
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    flex-direction: column;
    height: calc(50% - 60px);
    width: 286px;
}

.propertiesPanel {
    transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease;
    animation: slideIn 0.3s ease-out;
    pointer-events: auto;
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0); opacity: 1;
    }
}

.propertiesScroll {
    overflow-y: scroll;
    padding-right: 8px;
    margin-bottom: 5px;
}

.propertiesScroll::-webkit-scrollbar {
    width: 8px;
}

.propertiesScroll::-webkit-scrollbar-track {
    background: transparent;
}

.propertiesScroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
}

.propertiesToggler {
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
}

.propertiesToggler button {
    border-radius: 4px;
    background: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    width: 50%;
    transition: all .2s ease;
}

.propertiesToggler button.active {
    background-color: rgba(122,200,200,0.2);
    color: white;
}

.deletePropertyIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    filter: invert() brightness(80%);
    transition: all .2s ease;
}

.deletePropertyIcon:hover {
    filter: invert() drop-shadow(0 0 5px rgb(122, 200, 200));
}

.formAddProperty {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
}

.inputAddProperty {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    color: white;
    padding: 5px;
}

.inputAddProperty:focus {
    outline: none;
}

.advancedPropertyRow {
    display: flex;
    gap: 5px;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.styleSelect {
    width: calc(100% + 16px); 
    background: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px;
    margin: -4px -8px;
}

.styleSelect:focus {
    outline: none;
    background-color: rgba(122,200,200,0.1);
}

option {
    background-color: #1e1e1e;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

.lastActions {
    position: absolute;
    bottom: 8px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
}

.position {
    position: absolute;
    bottom: 8px;
    color: #ccc;
    font-family: monospace;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
}