html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  cursor: none;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: #FAFAFF;
  margin: 0;
  margin-left: 10px;
  text-shadow: 0 0 10px rgba(0,255,200, 0.7);
  font-weight: normal;
  font-size: 20px;
}

.glass-panel {
  background: rgba(255,255,255,0.05); 
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 0 0px 5px rgba(123, 123, 123, 0.307);
  pointer-events: auto; 
  padding: 8px;
  gap: 8px;
  display: flex;
}

.top-left-toolbar {
  position: absolute;
  left: 25px;
  top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left-toolbar {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
}

.prop-section label {
  font-size: 15px;
  color: #C8C8C8;
  margin-left: 5px;
  margin-top: 10px;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.input-group {
  margin-bottom: 8px;
  margin-top: 5px;
  display: flex;
  background: rgba(255,255,255,0.08);
  border-radius: 6px;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.05);
  align-items: center;
  overflow: hidden;
}

.input-group input {
  background: transparent;
  border: none;
  color: white;
  width: 60px;
  font-size: 12px;
  outline: none;
}

.unit {
  font-size: 14px;
  opacity: 0.7;
  margin-right: 6px;
  color: #E9E9EF;
  text-transform: uppercase;
  font-weight: bold;
}

input[type="color"] {
  border: none;
  height: 36px;
  cursor: pointer;
  width: calc(100% + 24px);
  margin: -10px -12px;
}

.property-title{
  font-weight: bold;
  color: #cdcdcd;
  margin: 10px;
  font-size: 17px;
}

.property-object {
  color: #cdcdcd;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 8px;
}